<div class="container mx-auto px-6 mt-5">
  <div class="bg-gray-800 text-gray-100 h-16 pt-4 px-10 text-3xl shadow uppercase overflow-hidden sm:rounded-lg">
    <div class="flex align-middle">
      Outil de signature électronique
    </div>
  </div>
</div>
