<div class="flex">
  <form class="rounded px-4 pt-12 mb-4" [formGroup]="procedureForm"  *ngIf="!procedureCreated()">
    <input type="text"
           formControlName="name"
           class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-pink-500 invalid:text-pink-600
            focus:invalid:border-pink-500 focus:invalid:ring-pink-500
          "
           placeholder="nom de la procédure" />
    <textarea
           formControlName="description"
           class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-pink-500 invalid:text-pink-600
            focus:invalid:border-pink-500 focus:invalid:ring-pink-500
          "
           placeholder="description de la procédure">
    </textarea>
    <div class="" formArrayName="members">
      <div class="" *ngFor="let member of members.controls; let i=index">
        <form class="" [formGroupName]="i" class="shadow p-4 border-1 border-blue-600 border-solid mb-3 rounded">
          <h4 class="font-extrabold">
            Personne {{ i + 1 }}
          </h4>
          <input type="text"
                 formControlName="firstName"
                 class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                  "
                 placeholder="prénom" />
          <label *ngIf="members.controls[i].get('firstName')?.dirty && members.controls[i].get('firstName')?.invalid && members.controls[i].get('firstName')?.errors?.required">
            Prénom obligatoire
          </label>
          <input type="text"
                 formControlName="lastName"
                 class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                  "
                 placeholder="nom" />
          <input type="text"
                 formControlName="phone"
                 class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                  "
                 placeholder="téléphone" />
          <input type="text"
                 formControlName="email"
                 class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                    invalid:border-pink-500 invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                  "
                 placeholder="email" />
        </form>
      </div>
      <button (click)="addMember()" class="bg-amber-500 text-white px-3 py-1 rounded flex cursor-pointer"
              *ngIf="members.controls.length < 2">
        ajouter un membre
      </button>
      <button (click)="start()" class="mt-10 bg-green-600 text-white px-3 py-1 rounded flex cursor-pointer">
        démarrer la procédure
      </button>
    </div>
  </form>
  <div class="" *ngIf="procedureCreated() && !checkIfProcedureFinished()">
    <h1 class="text-2xl">
      Une procédure est en cours
    </h1>
    <div class="my-10" *ngIf="getMembersSign().length > 0">
      <div class="mb-2" *ngFor="let member of getMembersSign(); let i = index">
        <a href="{{getMembersSignUrl(member)}}" target="_blank" class="text-blue-700 font-bold underline">
          Lien vers la procédure {{ i + 1 }} pour signature
        </a>
        <span class="ml-2">
          {{ checkIfMemberHasSigned(member) ? '(signature effectuée)' : '' }}
        </span>
      </div>
    </div>

    <div class="mt-5 p-3 bg-red-500 text-white rounded uppercase w-56 hover:bg-red-600 cursor-pointer"
         *ngIf="!checkIfProcedureFinished()"
        (click)="clearProcedure()">
      annuler la procédure
    </div>
  </div>
</div>
<div class="" *ngIf="checkIfProcedureFinished()">
  <h1 class="text-2xl text-green-700">
    La procédure est terminée le ({{ getDateProcedureFinished() | date: 'EEE dd/M/y à H:mm'}})
  </h1>

  <div class="mt-6 px-3 py-2 bg-blue-700 text-white rounded uppercase w-56 hover:bg-blue-600 cursor-pointer"
       (click)="clearProcedure()">
    refaire une signature
  </div>
</div>
