
<div class="" *ngIf="!isFileCreated()">
  <input type="text"
         (change)="updateFileName($event)"
         class="w-56 mb-6 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-pink-500 invalid:text-pink-600
            focus:invalid:border-pink-500 focus:invalid:ring-pink-500
          "
         placeholder="un nom de document" />
  <input type="file"
         accept="application/pdf"
         (change)="onPDFSelected($event)"
         class="block mb-4 w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-violet-50 file:text-violet-700
            hover:file:bg-violet-100
          "
          #fileUpload />
  <div class="file-upload ml-2" *ngIf="checkFormDataValid()">
    <button class="px-3 py-1 mt-8 w-56 bg-blue-700 rounded text-white cursor-pointer"
            (click)="startUpload()">
      Uploader le fichier
    </button>
  </div>
</div>
